/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color: #f5f5f5;
}

/* Suprascrie stiluri Material UI dacă este necesar */
.MuiButton-root {
  font-size: 1rem; /* Schimbă dimensiunea fontului pentru toate butoanele, de exemplu */
}

/* Adaugă stiluri custom */
.custom-container {
  padding: 20px;
}

/* Stiluri pentru responsivitate */
@media (max-width: 600px) {
  .custom-container {
    padding: 10px;
  }
}

/* Alte stiluri globale sau suprascrieri */
